.PreviewHalfScreen {
    padding: 0px 15px 100vh 15px;
    width: 49vw;
    height: 94vh;
    overflow: auto;
    box-sizing: border-box;
    background: rgb(250, 252, 252);
}

.PreviewFullScreen{
    width: 90vw;
    margin: auto;
    border: 1px solid black;
    background: rgb(250, 252, 252);
}

.FullScreenPadding{
    padding: 10vh 5px 1000px 5px;
}



@media(max-width: 768px){
    .PreviewHalfScreen{
        width: 100vw;
        height: 45vh;
        overflow: auto;
    }
    
}

