.Preview {
    padding: 5px 15px;
    width: 50vw;
    max-height: 94vh;
    overflow: auto;
    box-sizing: border-box;
    margin-top: 6vh;
}

.PreviewFullScreen{
    width: 90vw;
    margin: auto;
    margin-top: 5px
}



