.PreviewHalfScreen {
    padding: 0px 15px 100vh 15px;
    width: 49vw;
    height: 94vh;
    overflow: auto;
    box-sizing: border-box;
}

.PreviewFullScreen{
    width: 90vw;
    margin: auto;
    border: 1px solid black;
}

.FullScreenPadding{
    padding: 10vh 5px 1000px 5px;
}





