.EditorSmallScreen {
    padding: 10px 15px 100vh 15px;
    width: 50vw;
    height: 95vh;
    overflow: auto;
    box-sizing: border-box;
    margin: auto;
}

.EditorFullScreen{
    width: 100%;
    box-sizing: border-box;
    min-height: 100vh;
    overflow: hidden;
    padding: 10vh 5px 100% 5px;
    z-index: 1;
}

.largeWidthContainer{
    width: 90vw;
    margin: auto;
    margin-top: 5px;
}