.EditorSmallScreen {
    padding: 10px 15px 80vh 15px;
    width: 50vw;
    height: 95vh;
    overflow: auto;
    box-sizing: border-box;
    margin: auto;
    background: #ffe;
    font-size: 1.4rem;
}

.EditorFullScreen{
    min-width: 90vw;
    box-sizing: border-box;
    min-height: 100vh;
    padding: 10vh 5px 80vh 5px;
    z-index: 1;
    background: #ffe;
    font-size: 1.4rem;
}

.largeWidthContainer{
    width: 90vw;
    margin: auto;
    margin-top: 5px;
}


@media(max-width: 768px){
    .EditorSmallScreen{
        min-width: 100vw;
        height: 45vh;
        padding: 0px 1px 1px 1px;
        margin: auto;
        font-size: 0.9rem;
    }

    .EditorFullScreen{
        font-size: 0.9rem;
        width: 98vw;
        margin: auto;
        box-sizing: border-box;
    }
    
}