.EditorSmallScreen {
    padding: 15px;
    width: 50vw;
    height: 95vh;
    overflow: auto;
    box-sizing: border-box;
    margin: auto;
}

.EditorFullScreen{
    width: 90vw;
    min-height: 100vh;
    overflow: hidden;
}

.largeWidthContainer{
    width: 90vw;
    margin: auto;
    margin-top: 5px
}