body {
  background: rgb(236, 241, 241);
}

.SplitScreen {
  display: flex;
  overflow: hidden;
  height: 100vh;
}

.hide {
  display: none
}


table {
  border-collapse: collapse;
}

td,
th {
  border: 2px solid black;
  padding: 6px;
}

blockquote {
  border-left: 4px solid black;
  padding-left: 4px;
}



pre,
code {
  background: rgb(247, 242, 242);
  color: #010205;
  border-radius: 5px;
  box-sizing: border-box;
}

pre {
  padding: 15px;
}

select{
  height: 80%;
  font-size: 1.9rem;
  font-weight: bold;
  font-family: inherit;
  background: #008B8B;
  color: white;
  cursor: pointer;
  box-shadow:  0 0 10px rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s, background 0.2s;
}

select:not(.option):hover{
  opacity: 0.9;
  background: #65b4b4;
}


@media(max-width: 768px){
  .SplitScreen {
    display: block;
    overflow: auto;
    height: 100vh;
  }

  /* .Prev{
    height: 40vh;
  } */
}