body {
  background: rgb(236, 241, 241);
}

.SplitScreen {
  display: flex;
  overflow: hidden;
  height: 100vh;
}

.HideEditor {
  display: none
}

.HidePreview {
  display: none
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 2px solid black;
  padding: 6px;
}

blockquote {
  border-left: 4px solid black;
  padding-left: 4px;
}



pre,
code {
  background: rgb(228, 224, 224);
  color: rgb(73, 113, 245);
  border-radius: 5px;
  box-sizing: border-box;
}

pre {
  padding: 15px;
}

select{
  height: 80%;
  font-size: 1.9rem;
  font-weight: bold;
  font-family: inherit;
  background: #008B8B;
  color: white;
  cursor: pointer;
}


@media(max-width: 768px){
  .SplitScreen {
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
}