.SplitScreen{
  display: flex;
  overflow: hidden;
}

.FullScreen{
  flex-direction: column;
  overflow: hidden;
}

.HideEditor{
  display: none
}

.HidePreview{
  display: none
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 2px solid black;
  padding: 6px;
}

pre, code{
  background: rgb(228, 224, 224);
  color: rgb(73, 113, 245);
  border-radius: 5px;
  box-sizing: border-box;
}

pre{
  padding: 15px;
}


